<div class="grid gap-5">
    <h3 class="font-semibold text-zinc-500">Peer styling</h3>

    <div class="flex items-center gap-2.5">
        <Checkbox @bind-IsChecked="_isChecked" Id="cb-6" />
        <label for="cb-6" class="text-sm font-medium leading-none peer-[[data-state=checked]]:line-through peer-[:disabled]:cursor-not-allowed peer-[:disabled]:opacity-70">Style me based on my peer.</label>
    </div>
</div>

@code {
    private bool _isChecked = true;
}