@page "/checkbox-radio-switch"

<PageTitle>Mat UI | Checkbox, Radio and Switch Components</PageTitle>

<h1 class="mt-5 text-center text-2xl font-semibold lg:text-3xl lg:mt-16">Checkbox, Radio and Switch</h1>

<p class="mt-4 text-gray-500 text-center">
    Customizable Checkbox, Radio and Switch components for interactive forms, styled with Tailwind CSS.
</p>

<div class="mt-12 mx-auto grid max-w-5xl grid-cols-1 *:border-r *:p-6 *:border-b md:grid-cols-2 xl:grid-cols-3">
    <Checkboxes />

    <RadioButtons />

    <Switches />
</div>

@code {

}
